
body {
    background-color: #E7E7E7;
    color: #4c4c4c;
    font-family: "Trebuchet MS", 微软雅黑, "Microsoft Yahei", Tahoma, Helvetica, Arial, SimSun, sans-serif;;
}

.row {
    max-width: 79rem;
    /*margin-bottom: 32px;*/
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

h1 {
    font-size: 230%;
}

h3 {
    font-size: 200%;
}

p {
    color: #DBDBDB;
}
/*Lunzi Add something, don't edit it*/
#bgLogin {
    margin:15px;
    color: grey;
    float: right;
}

#showMessage {
    display: none;
    background: #5e5e5e;
    margin: 20px 0;
    padding: 10px 0 5px 0;
    color: lightgreen;
    font-weight: 900;
    border-radius: 5px;
    border: solid 1px #cacaca;
    text-align: center;
}
/***********************************/

.shadow {
    position: fixed;
    top: 99px;
    width: 100%;
    height: 0;
    clear: both;
    border-top: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(255, 255, 255);
    margin: 0;
    z-index: 10;
}

.calendar .shadow {
    position: static;
    margin-bottom: 20px;
}

/*  导航栏  */
.top-bar {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    text-align: center;
    background-color: #DBDBDB;
    /*background: #E3EDE7 url("../img/head-bg.png") repeat;*/
    /*border-top:6px solid #000 ;*/
    /*border-bottom: solid #ffffff 1px;*/
}

.logo {
    display: inline-block;
}

.dropdown {
    display: inline-block;
}

.top-bar ul {
    border: none;
    background-color: #DBDBDB;
}

.dropdown > li {
    display: inline-block;
    margin-left: 50px;
    font-size: 140%;
    background-color: #DBDBDB;
}

.dropdown > li:not(.menu-text):hover {
    background-color: #B0B0B9;
}

.dropdown > li > a {
    font-size: 130%;
}

.submenu {
    width: 170px;
    margin-top: 30px;
}

.is-dropdown-submenu {
    min-width: unset;
}

.submenu li {
    text-align: center;
    /*background-color: #a68a9b;*/
    border-bottom: solid #ffffff 1px;
}

.submenu li:last-child {
    border: none;
}

.submenu li:hover {
    background-color: #B0B0B9;
}

.top-bar a {
    /*color: #ffffff;*/
}

/*  广告区域  */
/*.ad{*/
/*max-width: none;*/
/*!* 临时  *!*/
/*height: 300px;*/
/*background-color: #949494;*/
/*}*/

/*   招新  */
.recruit {
    margin-top: 120px;
    background: #000000 url("../img/black_paper.jpg") repeat;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
}
.button{
    color: white;
    background-color: #444444;
}
.button.secondary {
    width: 50%;
    border-radius: 150px;
    box-shadow: rgb(0, 0, 0) 0 1px 5px 0, rgba(255, 255, 255, 0.2) 0 0 1px 0 inset;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.0901961) 0%, rgba(255, 255, 255, 0) 100%) rgb(32, 32, 32);
}

.button.secondary:hover,
.button.secondary:focus {
    background-color: rgb(43, 43, 43);
}

/*  值班表  */

.calendar {
    margin-top: 10px;
    margin-bottom: 80px;
    padding-top: 20px;
    /*padding: 10px;*/
    /*border-top:solid #ffffff 1px;*/
}

.calendar .tabs a {
    padding: 1.25rem 0.786rem;
}

.calendar img {
    width: 100%;
    box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 1)
}

/*  技能点 */
.standard {
    background: #000000 url("../img/black_paper.jpg") repeat;
    color: #ffffff;
    padding: 50px;
    max-width: 79rem;
}

.limit-width {
    max-width: 79rem;
    margin: 0 auto;
}

.standard .row {
    margin-top: 50px;
}

/*    下载   */
.download {
    margin: 60px auto;
}

.download p {
    color: #4c4c4c;
}

/*  小工具  */
.tools {
    background-color: #949494;
}

.tools .row {
    margin-bottom: 0;
}

.tools .columns {
    padding-top: 15px;
    padding-bottom: 6px;
}

.tools a {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: #949494;
    border: solid #ffffff 1px;
    border-radius: 10px;
}

.tools .tools-title {
    float: left;
    width: 50px;
    padding: 0;
    background-color: #4c4c4c;
}

.inside {
    width: 50px;
    text-align: center;
    padding: 5px;
    background-color: #a68a9b;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#webchat {
    padding-top: 0;
}

#webchat img {
    width: 200px;
    height: 200px;
}

#webchat a {
    width: 200px;
    border: none;
}

/*  报修方式及网维百科  */
#wiki {
    padding: 0 50px;
    border-left: solid #ffffff 1px;
}

#wiki .row > h4 {
    margin-bottom: 60px;
}

#exampleModal1 {
    background-color: #F6F6F6;
}

#exampleModal1 thead {
    border: none;
}

/*  联系方式  */
.contact {
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 70px;
    background: #000000 url("../img/black_paper.jpg") repeat;
    color: #ffffff;
}

.contact form {
    margin-left: 6%;
    margin-top: 5%;
}

.contact label {
    display: inline-block;
    width: 80%;
    color: #ffffff;
}

.contact input, .contact textarea {
    display: inline-block;
    width: 82%;
    background-color: #797778;
    border-color: #555555;
}

.contact input:focus, .contact textarea:focus {
    background-color: #797778;
}

.contact form p {
    display: inline-block;
    width: 15%;
    padding-top: 0.5rem;
    vertical-align: top;
    font-size: 120%;
}

.form-error {
    margin-left: 15%;
}

.contact button {
    margin-bottom: 25px;
    vertical-align: bottom;
}

.targetblank {
    margin-left: 80px;
}

/*  表格通用属性  */
.tabs {
    /*margin:0 13px;*/
    background-color: #E7E7E7;
    border: none;
    /*border-bottom: solid #E7E7E7 1px;*/
}

.tabs .is-active a {
    background-color: #E7E7E7;
}

.tabs a {
    background-color: #F6F6F6;
    /*color: #ffffff;*/
}

.tabs a:hover {
    background-color: #B0B0B9;
}

.tabs-title {
    border: solid #DDDDDD 1px;
}

.tabs-content {
    background-color: #F6F6F6;
    border: solid #DDDDDD 1px;
}

table thead, table tfoot {
    background-color: #F6F6F6;
    /*color: #ffffff;*/
}

tr {
    background-color: #F6F6F6;
}

table tbody tr:nth-child(even) {
    background-color: #0a0a0a;
    color: #ffffff;
}

/*  icon属性  */
.feature {
    height: 52px;
    width: 52px;
    background: url('../img/combined1.png') no-repeat top left;
}

.icon1 {
    background-position: 0 -131px;
}

.icon2 {
    background-position: -80px 0;
}

.icon3 {
    background-position: 0 -65px;
}

.icon5 {
    background-position: -80px -65px;
}

.icon6 {
    background-position: -85px -131px;
}

.icon7 {
    background-position: 0 -188px;
    width: 55px;
    height: 55px;
}

.icon8 {
    width: 64px;
    height: 64px;
    background-position: -70px -180px;
    margin-left: 20px;
}

.icon9 {
    height: 72px;
    background-position: 0 -250px;
    margin-top: 10px;
}

.icon10 {
    background-position: -80px -250px;
    width: 55px;
    height: 55px;
}

.icon11 {
    background-position: -80px -320px;
    width: 55px;
    height: 55px;
}

.icon12 {
    width: 100px;
    height: 100px;
    background-position: 0 -500px;
}

.icon13 {
    width: 100px;
    height: 100px;
    background-position: 0 -625px;
}

.icon14 {
    width: 100px;
    height: 100px;
    background-position: 0 -745px;
}

.roww {
    height: 425px;
}

#baoming1 {
    background-color: black;
}

#baoming1 input {
    background-color: #5e5e5e;
}

#textarea {
    background-color: #5e5e5e;
}