body {
    color: #ffffff;
}

.container-fluid {
    text-align: center;
}

.container-fluid > .row {
    margin: 40px 0;
    padding: 20px 0;
}

.container-fluid > .row:first-child {
    margin-top: 0;
}

.container-fluid .modal-backdrop {
    opacity: .9;
}

/*  背景阴影  */
.background_shadow {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('../img/background-shadow.png');
    opacity: 0.35;
    z-index: -1;
}

/*  背景图片   */
#background_img {
    position: fixed;
    vertical-align: middle;
    z-index: -2;
}

/*   返回顶部   */
#go_top {
    position: fixed;
    display: none;
    right: 2%;
    bottom: 2%;
}

/*   导航栏    */
nav {
    text-align: center;
}

nav ul {
    padding: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.29);
}

nav ul li {
    padding: 8px 0;
    list-style-type: none;
    background: rgba(0, 0, 0, 0.29);
}

nav a {
    display: block;
    width: 100%;
    height: 100%;
    color: #ffffff;
}

nav a:hover, nav a:focus {
    color: #ffffff;
    text-decoration: none;
}

#nav-btn {
    background-color: rgba(0, 0, 0, 0.38);
}

#nav-btn span {
    font-size: 24px;
}

#drop-nav {
    display: none;
}

/*   about us栏     */
#about {
    display: none;
}

/*   recruit栏    */
#carousel-example-generic {
    margin: 40px 0;
}

#carousel-example-generic img {
    width: 100%;
}

/*   repair栏    */
#repair a {
    color: #ffffff;
}

#repair li {
    width: 25%;
}

#repair ul .active a {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: solid #ffffff 2px;
}

#repair .tab-content {
    margin-top: 10px;
}

/*  convenient栏   */
#convenient img {
    width: 52px;
    background: url("../img/combined.png") no-repeat top left;
    background-position: 0 -188px;
}

#convenient .col-xs-11 {
    margin: 0 auto;
}

#convenient .col-xs-11 {
    text-align: left;
}

#convenient a {
    color: aquamarine;
    text-decoration: underline;
}

/*  list-group-iteml 栏  */
.list-group-item {
    text-align: left;
    color: #ffffff;
}

.list-group {
    background-color: rgba(255,255,255,.3);
    border: none;
    /*opacity: 0.4;*/
}

.list-group li{
    border: none;
    background-color: rgba(255,255,255,.3);
}